@use "variables" as *;
@use "mixins";
@use "layout";
// @use "qa";

/* Global overrides */
body {
  font-feature-settings: "liga" 1;
}

.navbar__item--kofi {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

/* shared icon sizing */
.navbar__item--kofi::before {
  content: '';
  display: inline-block;
  height: 30px;
  aspect-ratio: 980 / 198;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* light mode */
html[data-theme='light'] .navbar__item--kofi::before {
  background-image: url('/.Build/assets/img/support_me_on_kofi_dark.png');
}

/* dark mode */
html[data-theme='dark'] .navbar__item--kofi::before {
  background-image: url('/.Build/assets/img/support_me_on_kofi_beige.png');
}

.navbar__item--kofi:hover {
  opacity: 0.9;
}

.navbar__item--home::before {
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: currentColor;
  mask: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>\
<path d='M3 10.5L12 3l9 7.5V21a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1z'/>\
</svg>") no-repeat center / contain;
}

/* Force Home icon to white in dark mode */
html[data-theme='dark'] .navbar__item--home {
  color: var(--ifm-color-white);
}

/*
 * Optional: slightly dim when inactive (recommended)
 *
html[data-theme='dark'] .navbar__item--home {
  color: rgba(255, 255, 255, 0.9);
}

html[data-theme='dark'] .navbar__item--home:hover {
  color: #ffffff;
}
*/

.navbar__item--home.navbar__link--active {
  opacity: 1;
}

@media (max-width: 996px) {
  .navbar__item--home::after {
    content: ' Home';
    margin-left: 0.25rem;
  }
}
