.grid {
  display: grid;
  gap: 1.5rem;
  padding: 0 2rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  display: block;
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--ifm-card-background-color);
  box-shadow: var(--ifm-global-shadow-lw);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  text-decoration: none;
  color: inherit;
  max-height:300px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--ifm-global-shadow-md);
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
